  .TopNav {
      text-align: center;
      display: block;
      background-color: rgb(204, 195, 180);
      padding: 10px; 
  }

  .BeginTitel {
      text-align: center;
      background-color: rgb(204, 195, 180);
      width: 100%;
      
}
  .current-page {
      text-decoration: none;
      font-weight: bold;
      color: black;
  }

  .notCurrent-page {
      text-decoration: none;
      color: black;
  }


  .footer {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      background-color: rgb(87, 72, 55);
      color: white;
      padding: 20px;
      margin-left: -10px;
      margin-right: -10px;
      position: sticky;
  }

  .footerLinks,
  .footerMidden,
  .footerRechts {
      min-width: 200px;
  }

  .copyright {
      margin-top: 50px;

  }

  .footer ul {
      list-style: none;
      padding: 0;

  }

  .footer li {
      padding: 5px;
  }

  .footer a:hover {
      color: black;
  }

  .verjaardag {
      color: white;
      text-decoration: none;
  }

  .geboorte {
      color: white;
      text-decoration: none;
  }

  .trouwen {
      color: white;
      text-decoration: none;
  }